.download{
  position: relative;
  display: flex;
    text-align:center;
    background-color:transparent;
    

}

.statImg{
  text-align: center;
  width: 35%;
  height: auto;
}
.statImg:hover{
  opacity: .5;
}

.downloadImg{
  position: relative;
   width: 35%;
  height: auto;
  margin-left: 0%;
  }
  .downloadImg:hover{
    opacity: .5;
    }

  .usersImg{
    position: relative;
    width: 35%;
    height: auto;
    margin-left: 3%;
}
.usersImg:hover{
  opacity: .5;
}


