.download{
    text-align:center;
    background-color:red;

}
.head{text-align: center;}

.download-body{
    text-align: center;
    width: 80vh;
    height: 80vh;
}
.downloadImg{
    position: absolute;
    width: 30vh;
    height: 30vh;
    margin-top: 4%;
    margin-left: 23%;
  }

  .download-link{
      text-align: center;
      height: 20vh;
  }