.usr{
    background: url("../../assets/background.jpg");
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}
.black-layer{
    color:black;
    opacity: 0.5;
}
.on-load{
    background-color: transparent;
    color:white;
}

.load-text{
    color:white;
    font-size: 300%;
}


@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite; size: 100%; }
.loader__dot:nth-child(2) { animation-delay: 250ms ; size: 100%}
.loader__dot:nth-child(3) { animation-delay: 500ms ; size: 100%}