.graph{
    position:relative;
    text-align:center;
    overflow-x:auto;
}
.graphBody{
    background-color: white;
    text-align: center;
}

.text{
    color:white;
}
.bar-graph{
    table-layout: auto;
overflow-x: auto !important;
width: 100% !important;

text-align: center;
}
