.Component {
    text-align: center;
  }


  .Comp-header {
      text-align: center;
  }


.Comp-header {
    background-color: #363636;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
   
  }

  .Comp-Route {
    position: absolute;
    width: 50vh;
    height: 50vh;
    margin-top: -15vh;
  }

  .downloadImg{
    width: 30vh;
    height: 30vh;
  }
  