.Nav
{
    text-align: center;
}

  .Nav-header {
      background-color: #363636;
      text-align: center;
  }


  .Nav-bar{
   /* width: 90vh;
    height: 21vh;
   margin-top:0vh;*/
   flex:1;
   align-content: center;
  }

  .Nav-logo{
      text-align: center;
      width: 90vh;
      height: 21vh;
  }