.dwn
{
    text-align: center;
    background: url("../../assets/background.jpg");
    background-size: cover;

}

  .dwn-header {
      background-color: red;
      text-align: center;
  }

  .black{
    background-color: #000000;
    opacity: 0.8;
  }
  .text{
      color:white;
      font-size: large;
  }