.dwn{
    text-align:center;
    background-color: #000000;
}

.dwn-header{
    text-align:center;
    background-color: #000000;
}

.wait{

    text-align: center;
    background-color: #000000;
}


.text{
    text-align: center;
    color: white;
}

.black{
    background-color: #000000;
}
.transparent{
    opacity: .5;
}


.down-button{
    margin-top:10%;
}