.head{
    float: center;
    text-align: center;
    background-color: #000000;
}

.head-header{
    text-align: center;
}

.head-bar{
    text-align: center;
}


.head-logo{
    text-align: center;
    height: 21vh;
    width: 90vh;
}