.head{
    position: relative;
    margin-top: 0px;
    width: fill;
    text-align: center;
    background-color: transparent;
}

.head-logo{
    text-align: center;
    object-position: center;
    background-color: transparent;
    width: 100%;
    height: auto;
    filter: contrast(2);
 
    align-items: center;
}

.head-logo:hover{
  opacity: 0.5;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #000000;
  color:#ffffff;
}

.nav{
 width:100%;
}

.home-btn:hover{
  opacity: .5;
}