.head{
    position: relative;
    margin-top: 0px;
    width: fill;
    text-align: center;
    background-color: black;
}



.head-logo{
    text-align: center;
    object-position: center;
    background-color: black;
    height: 21vh;
    width: 90vh;
    align-items: center;
}