.body-img{
    position: relative;
    width:50%;
    height:auto;
    margin-top: 18vh;
}


.body-description{
color:white;
position: relative;
width:auto;
align-content: center;
height:auto;
margin-top: 22vh;
margin-left: 5%;
margin-right: 5%;
text-align: justify;
}