.usr{
    background-color: white;
    text-align: center;
}

.text{
    color:white;
}
.table{
    width: 100% !important;
}

.react-bootstrap-table{
    overflow-x:auto !important;
    width: 100% !important;
    table-layout: auto;
    margin-top:4%;
    display: block;
    text-align: center;
    }

