.usr{
    background-color: white;
    text-align: center;
}

.text{
    color:white;
}
.table{
   background-color: black;
    color:white;
    table-layout: auto;
    display: block !important;
    overflow-x: auto !important;
    width: 100% !important;
    text-align: center;
    margin-top: 1.5%;
}

.react-bootstrap-table table {
    table-layout: auto;
    }