.usr{
    background-color: white;
    text-align: center;
}

.text{
    color:white;
}
.please-no-overflow{
    overflow-x:hidden !important;
}

.react-bootstrap-table table{
    overflow-x:auto !important;
    overflow-y:auto !important;
    width: 100% !important;
    table-layout: auto;
    margin-top:4%;
    display: block;
    text-align: center;
    
    }

